<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html lang=en xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{judulku}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="refresh" content="{sesidt}; URL={sumber}/expire.php">
<meta name="author" content="{author}">
<meta name="description" content="{description}">
<meta name="url" content="{url}">
<meta name="keywords" content="{keywords}">
<link href="{sumber}/inc/style/sisfokol.css" rel="stylesheet" type="text/css">
<link href="{sumber}/inc/style/flexdropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/flexdropdown.js"></script>
<!--
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
/////// SISFOKOL_v4_SLTA                                 ///////
/////// (code:NyurungBAN, 11Pebruari2012)                ///////
////////////////////////////////////////////////////////////////
/////// Dibuat oleh :                                    ///////
/////// Agus Muhajir, S.Kom                              ///////
/////// URL 	: http://sisfokol.wordpress.com          ///////
/////// E-Mail	:                                        ///////
///////		* hajirodeon@yahoo.com                   ///////
///////		* hajirodeon@gmail.com                   ///////
/////// HP/SMS	: 081-829-88-54                          ///////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
//-->
</head>

<body bgcolor="#00000014" text="#000000"  onLoad="{diload}" >
<div style="width: 900px;
        height: 550px;
        background-color: blue;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:1;
        margin:auto;">
<div style="display: flex;align-items: center;">
  <TABLE WIDTH=1024 BORDER=0 CELLPADDING=0 CELLSPACING=0>
    <TR bgcolor="#7796d5" background="{sumber}/img/header.png">
<td width="50">
<img src="{sumber}/filebox/logo/{sek_filex}" width="50" height="50" border="1">
</td>
      <TD style="text-align: center;">
	  <font color="#FFFFFF">
	  <big><strong>{sek_nama}</strong></big>
	  <br>
	  <em>{sek_alamat}</em>
	  <br>
	  <em>{sek_kontak}</em>
	  </font>
      </TD>
    </TR>
  </TABLE>
</div>

<div style="display: flex;align-items: center;">
  <table width="1024" height="500" border="0" cellpadding="0" cellspacing="0" bgcolor="#ebf2ff">
    <tr>
      <td valign="top">
	  {isi}
	  <br>
	  <br>
	  <br>
	  </td>
    </tr>
  </table>
</div>
<div style="display: flex;align-items: center;">
  <table width="1024" border="0" cellpadding="5" cellspacing="0" bgcolor="black">
    <tr>
      <td align="right">
	  <font color="white">
	  &copy;2019. {versi}
	  </font>
	  </td>
    </tr>
  </table>
  </div>
</div>
</body>
</html>